# Ludvig
Ludvig Øvrevik <ludvigho@ntnu.no> Ludvig Øvrevik <ludvigho@ntnu.no>

# Kien
Kien Parajes Le <kien.p.le@ntnu.no> Kien Parajes Le <kienpl@stud.ntnu.no> Kien Le <kienple@users.noreply.github.com>

# Sang
Sang Munn Kim <sangk@stud.ntnu.no> Sang <108661792+SangMunnKim@users.noreply.github.com>

# Thomas
Thomas Nordby Sørensen <thomanso@stud.ntnu.no> Thomas Nordby Sørensen <thomanso@stud.ntnu.no>