.personal-label, .completedTask-label {
    -fx-background-color: #7aadff;
    -fx-background-radius: 10;
}

.openExpense-label, .groupChat-label {
    -fx-background-color: #F08A5D;
    -fx-background-radius: 10;
}

.signOut-label {
    -fx-background-color: #E3E3E3; 
    -fx-background-radius: 10;
}

.signOut-label:hover {
    -fx-background-color: #cd3030; 
    -fx-text-fill: #FFFFFF; 
}
.addMember-label, .addGroup-label {
    -fx-background-color: #27AE60; 
    -fx-text-fill: #FFFFFF; 
    -fx-background-radius: 10; 
}

.addMember-label:hover, .addGroup-label:hover {
    -fx-background-color: #156134; 
}

.openExpense-label:hover, .groupChat-label:hover {
    -fx-background-color: #9d3e12;
}

.personal-label:hover, .completedTask-label:hover, .group-label {
    -fx-background-color:#6999e6;
}

.button:hover {
    -fx-cursor:hand;
    
}

/* Rounded corners for the entire TableView */
.table-view {
    -fx-background-radius: 5; /* Rounded corners for the TableView background */
    -fx-border-radius: 5;
    -fx-background-color: transparent;
}

/* Rounded corners for the header (top left and top right) */
.table-view .column-header-background {
    -fx-background-radius: 5 5 0 0; 
    -fx-border-radius: 5 5 0 0;
    -fx-background-color:#7aadff;
    -fx-border-color: transparent transparent #c1c1c1 transparent;
}

.table-view .column-header {
    -fx-background-color: #7aadff;
    -fx-background-radius: 5 5 0 0;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-background-radius: 5%;
    -fx-border-radius: 5%;
    background-color: #7aadff;
}

.addExpense-label {
    -fx-background-color: #27AE60; 
    -fx-text-fill: #FFFFFF; 
    -fx-background-radius: 10; 
}

.addExpense-label:hover {
    -fx-background-color: #156134; 
}

.addExpense-label {
    -fx-background-color: #27AE60; 
    -fx-text-fill: #FFFFFF; 
    -fx-background-radius: 10; 
}

.addExpense-label:hover {
    -fx-background-color: #156134; 
}

.sendMessage-label {
    -fx-background-color: #27AE60; 
    -fx-text-fill: #FFFFFF; 
    -fx-background-radius: 10; 
}

.sendMessage-label:hover {
    -fx-background-color: #156134; 
}

.addTask-label {
    -fx-background-color: #27AE60; 
    -fx-text-fill: #FFFFFF; 
    -fx-background-radius: 10; 
}

.addTask-label:hover {
    -fx-background-color: #156134; 
}

.addUser-label {
    -fx-background-color: #27AE60; 
    -fx-text-fill: #FFFFFF; 
    -fx-background-radius: 10; 
}

.addUser-label:hover {
    -fx-background-color: #156134; 
}

.createGroup-label {
    -fx-background-color: #27AE60; 
    -fx-text-fill: #FFFFFF; 
    -fx-background-radius: 10; 
}

.createGroup-label:hover {
    -fx-background-color: #156134; 
}


.login-button {
    -fx-background-color: #27AE60; 
    -fx-text-fill: #FFFFFF; 
    -fx-background-radius: 10; 
}

.login-button:hover {
    -fx-background-color: #156134; 
}

.register-button {
    -fx-background-color: #3498DB; 
    -fx-text-fill: #FFFFFF; 
    -fx-background-radius: 10; 
}

.register-button:hover {
    -fx-background-color: #1F618D; 
}

.text-field, .password-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10px;
}

.register-button {
    -fx-background-color: #27AE60; 
    -fx-text-fill: #FFFFFF; 
    -fx-background-radius: 10; 
}

.register-button:hover {
    -fx-background-color: #156134; 
}

.back-button {
    -fx-background-color: #3498DB; 
    -fx-text-fill: #FFFFFF; 
    -fx-background-radius: 10; 
}

.back-button:hover {
    -fx-background-color: #1F618D; 
}

.text-field, .password-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10px;
}